.pra-container {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(100% + 48px);
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.pra-container svg {
  cursor: pointer;
}
.pra-container svg path {
  stroke: var(--neutral--100);
}
.pra-container svg:hover path {
  stroke: var(--neutral--10);
}
