.accuracy-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--padding--sm);
  gap: 8px;
  width: 100%;
  border-radius: var(--radius);
  color: var(--neutral--10);
  text-align: center;
}
.accuracy-description-accurate {
  background-color: var(--green--200);
}
.accuracy-description-inaccurate {
  background-color: var(--red--200);
}
.round-result {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.win-odds {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 44px;
  padding: 0;
  color: var(--neutral--10);
}
