<div class="user-form-container">
  <form [formGroup]="signinForm" class="form" (ngSubmit)="onSubmit()">
    <label class="label"> {{ 'username' | titlecase }} </label>
    <input
      class="control"
      formControlName="username"
      name="username"
      type="username"
    />
    <label class="label"> {{ 'password' | titlecase }} </label>
    <input
      class="control"
      formControlName="password"
      name="password"
      type="password"
    />
    <div class="submit-container">
      <button
        type="submit"
        class="primary submit-btn"
        [disabled]="(formInvalid$ | async) === true"
      >
        Sign in
      </button>
      <div>
        <span class="login-action-label">Dont'have an account yet?</span>
        <b class="cursor-pointer" (click)="toRegisterInForm()"> Register</b>
      </div>
      <ng-content [select]="error"></ng-content>
    </div>
  </form>
</div>
