.user-form-container {
  height: auto;
  width: auto;
  position: fixed;
  top: 100px;
  right: 25px;
  padding: 32px 24px;
  background-color: var(--neutral--800);
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 18px;
}
.user-form-container span {
  letter-spacing: 0.5px;
}
.user-form-container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.user-form-container span,.user-form-container b {
  font-size: 16px;
}
.user-form-container .form .label {
  align-self: flex-start;
  color: var(--neutral--80);
  font-weight: 600;
  font-size: 16px;
  padding: 0 24px;
}
.user-form-container .form .control {
  width: 315px;
  height: 51px;
  display: flex;
  font-size: 16px;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  background-color: var(--neutral--700) !important;
  color: var(--neutral--80);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
}
.user-form-container .form .hint {
  font-weight: 500;
  font-size: 14px;
}
.user-form-container .form .error {
  font-size: 14px;
  color: var(--red--75);
}
.error::first-letter {
  text-transform: capitalize;
}
.user-form-container .submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.user-form-container {
  font-size: 16px;
  color: var(--neutral--10);
}
.user-form-container b {
  cursor: pointer;
}
.user-form-container .submit-btn {
  font-size: 16px;
  padding: 12px 18px;
  text-align: center;
}
.login-action-label {
  color: var(--neutral--80)
}
