button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  color: var(--neutral--10);
  font-size: 16px;
  gap: 8px;
}
button span {
  font-size: 16px;
}
button.primary {
  background-color: var(--primary--300);
}
button.primary:hover {
  background-color: var(--primary--200);
}
button.primary:active {
  background-color: var(--primary--400);
}
button.red {
  background-color: var(--red--300);
}
button.red:hover {
  background-color: var(--red--200);
}
button.red:active {
  background-color: var(--red--400);
}
button:disabled,
button:disabled:hover {
  background-color: var(--neutral--500);
  cursor: default;
}
button.md {
  min-width: 157px;
  min-height: 56px;
  padding: 16px 24px;
}
button.sm {
  min-width: 120px;
  min-height: 50px;
  padding: 12px;
}
