:root {
  --neutral--900: rgba(25, 25, 39, 1);
  --neutral--800: rgba(37, 37, 50, 1);
  --neutral--700: rgba(50, 50, 63, 1);
  --neutral--600: rgba(66, 66, 78, 1);
  --neutral--500: rgba(78, 78, 89, 1);
  --neutral--400: rgba(92, 92, 102, 1);
  --neutral--300: rgba(103, 103, 112, 1);
  --neutral--200: rgba(117, 117, 125, 1);
  --neutral--100: rgba(131, 131, 138, 1);
  --neutral--90: rgba(145, 145, 151, 1);
  --neutral--80: rgba(158, 158, 164, 1);
  --neutral--70: rgba(172, 172, 177, 1);
  --neutral--60: rgba(184, 184, 188, 1);
  --neutral--50: rgba(198, 198, 201, 1);
  --neutral--40: rgba(225, 225, 227, 1);
  --neutral--30: rgba(237, 237, 238, 1);
  --neutral--20: rgba(246, 246, 246, 1);
  --neutral--10: rgba(250, 250, 251, 1);
  --neutral--00: rgba(255, 255, 255, 1);
  --gradient---red: rgba(106, 31, 44, 1);
  --gradient---green: rgba(46, 67, 67, 1);
  --red--50: rgba(251, 235, 238, 1);
  --red--75: rgba(239, 175, 185, 1);
  --red--100: rgba(233, 141, 156, 1);
  --red--200: rgba(223, 92, 114, 1);
  --red--300: rgba(217, 59, 85, 1);
  --red--400: rgba(152, 41, 59, 1);
  --red--500: rgba(132, 36, 52, 1);
  --green--50: rgba(230, 243, 239, 1);
  --green--75: rgba(153, 206, 189, 1);
  --green--100: rgba(111, 185, 162, 1);
  --green--200: rgba(49, 155, 122, 1);
  --green--300: rgba(7, 135, 95, 1);
  --green--400: rgba(5, 95, 67, 1);
  --green--500: rgba(4, 82, 58, 1);
  --secondary--500: rgba(48, 70, 41, 1);
  --secondary--400: rgba(55, 81, 48, 1);
  --secondary--300: rgba(79, 115, 68, 1);
  --secondary--200: rgba(109, 139, 100, 1);
  --secondary--100: rgba(153, 174, 147, 1);
  --secondary--75: rgba(183, 198, 178, 1);
  --secondary--50: rgba(237, 241, 236, 1);
  --primary--500: rgba(38, 38, 70, 1);
  --primary--400: rgba(43, 43, 81, 1);
  --primary--300: rgba(62, 62, 115, 1);
  --primary--200: rgba(95, 95, 139, 1);
  --primary--100: rgba(143, 143, 174, 1);
  --primary--75: rgba(176, 176, 198, 1);
  --primary--50: rgba(236, 236, 241, 1);
  --blue--50: rgba(237, 240, 248, 1);
  --blue--75: rgba(183, 192, 226, 1);
  --blue--100: rgba(153, 166, 214, 1);
  --blue--200: rgba(109, 128, 196, 1);
  --blue--300: rgba(79, 102, 184, 1);
  --blue--400: rgba(55, 71, 129, 1);
  --blue--500: rgba(48, 62, 112, 1);
  --table-color---border: rgba(57, 46, 58, 1);
  --table-color---surface: rgba(70, 100, 99, 1);
}
