input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  /* padding: 100px 24px; */
  min-height: 100vh;
  background-color: var(--neutral--900);
}
.flex-1 {
  flex: 1;
}
