.footer {
  background-color: var(--neutral--800);
  padding: var(--padding);
  min-height: 50px;
}
.footer div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer span {
  font-size: small;
}
.footer img {
  display: inline-block;
}
