.guess-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 184px;
  gap: 24px;
}
.guess-box ppo-loader {
  align-self: center;
}
.guess-box-label {
  font-size: 24px;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--neutral--10);
}
.guess-box span {
  padding: 4px;
}
.guess-box-form {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  height: 64px;
}
.guess-box-form input {
  padding: 18px 0;
  width: 188px;
  height: 100%;
  border-radius: var(--radius);
  border: none;
  background-color: var(--neutral--800);
  text-align: center;
  color: var(--neutral--80);
}
.guess-box-form input:disabled {
  background-color: var(--neutral--300);
}
.guess-box-round-completed {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.win-odds {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 44px;
  padding: 0;
  color: var(--neutral--10);
}
.accuracy-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--padding-sm);
  gap: 8px;
  width: 100%;
  height: 44px;
  border-radius: var(--radius);
  color: var(--neutral--10);
  text-align: center;
}
.accuracy-description-accurate {
  background-color: var(--green--200);
}
.accuracy-description-inaccurate {
  background-color: var(--red--200);
}
