.leaderboards-container {
  display: flex;
  justify-content: center;
  max-height: 70vh;
  width: 70%;
  overflow: auto;
  margin-top: var(--margin--top);
}
.leaderboards-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: var(--neutral--800);
  text-align: left;
  border-radius: var(--radius--sm);
}
.leaderboards-table th {
  background-color: var(--neutral--700);
  padding: 16px;
}
.leaderboards-table td {
  padding: var(--padding--sm);
}
.leaderboards-table th:first-child {
  border-radius: 10px 0 0 0px;
}

.leaderboards-table th:last-child {
  border-radius: 0 10px 0 0;
}
.leaderboards-table tr th:first-child,
.leaderboards-table tr td:first-child {
  width: 70px;
}
.leaderboards-table tbody tr:hover {
  box-shadow: var(--shadow);
  border-radius: var(--radius-sm);
}
