.game-container {
  background-color: var(--neutral--900);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 132px 24px 100px;
}
.play-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.poker-table-container {
  width: 900px;
  height: 457px;
  display: grid;
  grid-template-columns: 18px 76px 108px 76px 64px 76px 64px 76px 64px 76px 108px 76px 18px;
  grid-template-rows: 76px 76px 154px 76px 76px;
  margin-bottom: 16px;
}
.poker-table {
  z-index: 0;
  position: absolute;
  width: 900px;
  height: 407px;
  margin-top: 25px;
  box-sizing: border-box;
  background-color: var(--table-color---surface);
  border-radius: 283px;
  border: 36px solid var(--table-color---border);
  box-shadow: inset 0px -8px 4px rgba(0, 0, 0, 0.25),
    inset 0px 8px 4px rgba(0, 0, 0, 0.25);
}
