
.play-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.poker-table-container {
  width: 900px;
  height: 457px;
  display: grid;
  grid-template-columns: 4px 104px 74px 104px 40px 104px 40px 104px 40px 104px 74px 104px 4px;
  grid-template-rows: 89px 86px 107px 86px 89px;
  margin-bottom: 16px;
}
.poker-table {
  z-index: 0;
  position: absolute;
  width: 900px;
  height: 407px;
  margin-top: 25px;
  box-sizing: border-box;
  background-color: var(--table-color---surface);
  border-radius: 283px;
  border: 36px solid var(--table-color---border);
  box-shadow: inset 0px -8px 4px rgba(0, 0, 0, 0.25),
    inset 0px 8px 4px rgba(0, 0, 0, 0.25);
}
