.top-bar {
  flex: 1;
  position: fixed;
  height: 104px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}
.nav-menu {
  display: flex;
  row-gap: 32px;
}
.nav-item {
  cursor: pointer;
}
.nav-item svg path {
  stroke: var(--neutral--100);
}
.nav-item:hover svg path {
  stroke: var(--neutral--10);
}
.user-panel {
  user-select: none; /* Standard */
  cursor: pointer;
  color: var(--neutral--10);
}
