.user-status {
  cursor: pointer;
  color: var(--neutral--10);
  user-select: none; /* Standard */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  gap: 24px;
}
.user-status:hover{
  border-radius: 0;
  border-bottom: 1px solid white;
}
.user-status .link {
  font-size: 14px;
  letter-spacing: 0.1em;
}
