.round-list .round-preview {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  background: var(--neutral--800);
  border-radius: var(--radius--sm);
}
.round-list .round-preview ppo-poker-table {
  scale: 0.8;
}
.round-list .round-results {
  /* position: absolute;
  top: 50%;
  left: calc(100% + 48px); */
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.round-list .round-results {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 100px;
}
