<div class="stats" *ngrxLet="stats$ as stats">
  <span>Last 24h Rounds Played: {{ stats.roundsPlayed }}</span>
  <span>Last 24h Logins: {{ stats.usersLoggedIn }}</span>
  <span>Last 24h Registers: {{ stats.usersRegistered }}</span>
</div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row">{{ row.type }}</td>
    </ng-container>
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
      <td mat-cell *matCellDef="let row">{{ row.timestamp | date: 'long' }}</td>
    </ng-container>
    <ng-container matColumnDef="payload">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Payload</th>
      <td mat-cell *matCellDef="let row">
        <ngx-json-viewer
          [json]="row.payload"
          [expanded]="false"
        ></ngx-json-viewer>
        <!-- <pre>{{row.payload | json}}</pre> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
