<div class="container">
  <div class="leaderboards-container">
    <table class="leaderboards-table my-score">
      <tbody>
        @if (currentUserScore()) {
        <tr class="m-1" (click)="navigateToUser(currentUserScore())">
          <td>#{{ userScores() | leaderboardsPosition : currentUserScore() }}</td>
          <td>{{ currentUserScore()?.username }}</td>
          <td>{{ currentUserScore()?.score }}</td>
          <td>{{ currentUserScore()?.gamesPlayed }}</td>
        </tr>
        }
      </tbody>
    </table>
    <table class="leaderboards-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Score</th>
          <th>Total Games</th>
        </tr>
      </thead>
      <tbody>
        @for (userScore of userScores(); track userScore; let i = $index) {
        <tr (click)="navigateToUser(userScore)">
          <td>{{ i + 1 }}</td>
          <td>{{ userScore.username }}</td>
          <td>{{ userScore.score }}</td>
          <td>{{ userScore.gamesPlayed }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
