button {
  cursor: pointer;
}
.play-button {
  height: 96px;
  border-radius: var(--radius);
  border: none;
  padding: 12px;
  background-color: var(--primary--300);
}
.play-button:hover {
  background-color: var(--primary--200);
}
.play-button:disabled {
  cursor: default;
  background-color: var(--neutral--500);
}
.guess-box {
  width: 305px;
  height: 171px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.guess-box-label {
  font-size: 24px;
}
.guess-box span {
  padding: 8px;
}
.guess-box-form {
  display: flex;
  gap: 24px;
  height: 96px;
}
.guess-box-form input {
  padding: 28px 0;
  width: 185px;
  border-radius: var(--radius);
  border: none;
  background-color: var(--neutral--800);
  text-align: center;
  color: var(--neutral--80);
}
.guess-box-form input:disabled {
  background-color: var(--neutral--300);
}
