:root {
  --radius: 16px;
  --radius--sm: 8px;
  --padding: 16px 32px;
  --padding--xs: 8px 12px;
  --padding--sm: 8px 16px;
  --padding--md: 12px 24px;
  --margin--top: 24px;
  --shadow: var(--neutral--700) 0px 3px 12px;
}
