.round-list {
  display: flex;
  justify-content: center;
  padding: 42px 24px;
  gap: 16px;
  flex: 1;
}
.round-list .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 539px;
  width: 445px;
  overflow: auto;
}
.round-list .list .row:nth-child(odd) {
  background-color: var(--neutral--500);
}
.round-list .list .row:nth-child(even) {
  background-color: var(--neutral--600);
}

.round-list .list .row {
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 42px;
  opacity: 0.5;
  width: 435px;
  cursor: pointer;
}
.row.selected {
  opacity: 1 !important;
}
.round-list .list .row:first-child {
  border-radius: 8px 8px 0px 0px;
}
.round-list .list .row:last-child {
  border-radius: 0 0 8px 8px;
}
.round-list .list .row.row-empty {
  border-radius: 8px;
}
.round-list .list .row .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px;
  gap: 16px;
}
.time,
.date {
  flex: 1;
  font-size: 16px;
}
.time,
.date {
  line-height: 24px;
}
.score {
  flex: 2;
  font-size: 16px;
}
.round-list .list .row .content .hand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 22px;
  width: 94px;
}
.round-list .list .row .isFavorite {
  display: flex;
  align-items: center;
}
