<div class="user-settings" *ngIf="form">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="control">
      <label for="email">E-mail</label>
      <span>
        <input
          formControlName="email"
          name="email"
          type="email"
          #emailControl
        />
        <svg
          (click)="enableFormField('email'); emailControl.focus()"
          width="25"
          height="25"
          viewBox="0 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.839 6.34359L16.6674 3.51517L21.6172 8.46491L18.7888 11.2933M13.839 6.34359L4.23241 15.9502C4.04488 16.1377 3.93952 16.3921 3.93952 16.6573V21.1928H8.47505C8.74027 21.1928 8.99462 21.0875 9.18216 20.8999L18.7888 11.2933M13.839 6.34359L18.7888 11.2933"
            stroke="#9E9EA4"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </div>
    <div class="control">
      <label for="username">Username</label>
      <span>
        <input
          formControlName="username"
          name="username"
          type="username"
          #usernameControl
        />
        <svg
          (click)="enableFormField('username'); usernameControl.focus()"
          width="25"
          height="25"
          viewBox="0 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.839 6.34359L16.6674 3.51517L21.6172 8.46491L18.7888 11.2933M13.839 6.34359L4.23241 15.9502C4.04488 16.1377 3.93952 16.3921 3.93952 16.6573V21.1928H8.47505C8.74027 21.1928 8.99462 21.0875 9.18216 20.8999L18.7888 11.2933M13.839 6.34359L18.7888 11.2933"
            stroke="#9E9EA4"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </div>
    <div class="control">
      <label for="password">Password</label>
      <span>
        <input
          formControlName="password"
          name="password"
          type="password"
          placeholder="Type your new password"
          #passwordControl
        />
        <svg
          (click)="enableFormField('password'); passwordControl.focus()"
          width="25"
          height="25"
          viewBox="0 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.839 6.34359L16.6674 3.51517L21.6172 8.46491L18.7888 11.2933M13.839 6.34359L4.23241 15.9502C4.04488 16.1377 3.93952 16.3921 3.93952 16.6573V21.1928H8.47505C8.74027 21.1928 8.99462 21.0875 9.18216 20.8999L18.7888 11.2933M13.839 6.34359L18.7888 11.2933"
            stroke="#9E9EA4"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </span>
    </div>
    <div class="actions">
      <button class="primary sm" type="submit">Submit</button>
      <button class="red sm" (click)="logout()">
        <span>Log Out</span>
        <svg
          width="25"
          height="25"
          viewBox="0 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.6816 12.8788H19.6816M19.6816 12.8788L16.6816 15.8788M19.6816 12.8788L16.6816 9.87878"
            stroke="#FAFAFB"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M19.6816 6.87878V5.87878C19.6816 4.77421 18.7862 3.87878 17.6816 3.87878H7.68164C6.57707 3.87878 5.68164 4.77421 5.68164 5.87878V19.8788C5.68164 20.9834 6.57707 21.8788 7.68164 21.8788H17.6816C18.7862 21.8788 19.6816 20.9834 19.6816 19.8788V18.8788"
            stroke="#FAFAFB"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </form>
  @if (error()) {
  <span class="error">{{ error() }}</span>
  }
</div>
