/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--neutral--800);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--neutral--100);
  border-radius: var(--radius--sm);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
