.opponent-hand {
  width: 102px;
  height: 85px;
  display: flex;
  align-content: center;
}
.opponent-hand .card:last-child {
  position: relative;
  right: 15px;
  transform: rotate(15deg);
}
.opponent-hand .card:last-child img {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
