<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <input
          type="username"
          matInput
          placeholder="Username"
          formControlName="username"
          name="username"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
      <ng-container *ngrxLet="error$ as error">
        <div class="error" *ngIf="error">{{ error }}</div>
      </ng-container>
      <div class="button">
        <button type="submit" mat-button [disabled]="form.invalid">
          Login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
