:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title{
  text-align: center;
  margin-bottom: 1rem;
}
mat-card-content form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.error {
  width: 300px;
  color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
